 <!-- Navigation: Subpages -->
 <!-- <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="img/phi-white.svg" alt="phi-white" class="nav-logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#announcements">ANNOUNCEMENTS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bursary">BURSARY</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tutoring">TUTORING</a>
                    </li>
                    <li>
                            <a class="page-scroll" href="#about">ABOUT</a>
                        </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav> -->