<!--Order of Sections
    Change the order of the sections by moving their respective lines. If changed, please update nav.html accordingly as well.-->
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include announcements.html %}
    {% include bursary.html %}
    {% include tutoring.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>